
body {
  font-family: 'Secular One', sans-serif;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background: linear-gradient(black , darkblue);
    margin: 0;
    padding: 0;
   
  
  }
  
  .top-header {
    background-image: url("assets/stade+.jpg");
    height: 240px;
    width: 100%;
    background-size: cover;
    display: flex;
    align-items: center;
    margin:0;
    gap:100px;
    text-decoration: none;
  }
  .form{
    display:flex;
    justify-content:space-around;
    align-items:center;
    gap: 10px;
  }
  .logo img {
    height:50%;
    width:50%;
    margin:25%;
  }
  
  .nav {
    display: flex;
    justify-content:space-between;
    align-items: center;
    gap: 20px;
   
  }
  .nav a {
    display:flex;
    justify-content: space-between;
    text-decoration: none;
    color: white;
    transition-duration: 0.3s;
    height:20px;
    font-size: 22px;
  }
  
  .nav a:hover {
    background-color:darkblue;
  }
  
  form.search input {
    padding: 10px;
    font-size: 10px;
    border: 1px solid grey;
    float:left;
    width: 80%;
    height: 5px;
    background: #f1f1f1;
  }
  
 
  h1{
  color:white;
  margin:10%;
  }
  
  .firstelement {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 300px;
  }
  
  .news {
    width: 400px;
    height: 80%;
    background-color: white;
    color: black;
    text-align: center;
    text-transform: uppercase;
  }
  .table {
    width: 150px;
    height: 80%;
    background-color: white;
    color: black;
    text-align: center;
    text-transform: uppercase;
  }
  
  .picture {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 100%;
    color: black;
    gap: 13%;
  }
  
  .photo {
    background-color: white;
    height: 40%;
    width: 100px;
  }
  
  .results {
    background-color: white;
    height: 60%;
    width: 150px;
  }
  .game {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 300px;
  }
  .gazon {
    width: 400px;
    height: 80%;
    background: linear-gradient(rgba(18, 66, 20, 1),green);
    color: white;
    text-align: center;
    text-transform: uppercase;
  }
  
  .agenda {
    background-color: white;
    height: 80%;
    width: 150px;
  }
  

.stade {

    background-image: url("assets/stadeclermont2.jpg");
    height: 260px;
    width: 100%;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    padding: 30px 20px;
    gap:100px;
    text-decoration: none;
    
  }



.footer {
    background: linear-gradient(rgba(18, 66, 20, 1),green);
    height: 150px;
}

.titreclub {

  font-size: 25px;
  color:white;
  text-align: center;
  margin: 30px 30px;
  font-family: 'Secular One', sans-serif;

}

.navclub {
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 100px 180px;
    margin: 40px 10px;
   
  }
  .navclub a {
    display:flex;
    justify-content: space-between;
    color: rgb(248, 241, 241);
    transition-duration: 0.3s;
    height:20px;
    font-size: 22px;
    margin: 30px;
   text-decoration-line:none;
   
  }

.forme{

  color:rgb(248, 241, 241);
  font-size: 20px;
  text-align: left;
  padding-left: 50px;
  padding-top: 70px;
}

.forme2{

  color:rgb(248, 241, 241);
  font-size: 20px;
  text-align: left;
  padding-left: 50px;
  padding-top: 10px;
}

.bordure{

 font-size: 21px;
 text-align:left;
 color:#f1f1f1;
 padding-left: 160px;
 text-decoration:underline;
 font-style:italic;
 font-family:Arial, Helvetica, sans-serif;

}

.trait_dessus{
  border:  1px solid rgb(254, 252, 252);
  width : 1250px;
  margin-left: 40px;

 
}


.formeeffectif{
  color:rgb(248, 241, 241);
  font-size: 16px;
  text-align: left;
  padding-left:140px;
  padding-inline:112px;
  padding-top: 70px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



.formeeffectif2{
  color:rgb(248, 241, 241);
  font-size: 16px;
  text-align:left;
  padding-left:138px;
  padding-inline: 98px;
  padding-top: 60px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.ballon{
  text-align:center;
}

.logoclubs{
  flex-direction: row;
  padding-left: 80px;
  
  
  
}



.deplacementlogo{

  display: flex;
  gap:130px;
  margin: 20px;

}


.deplacementtitre{
     margin: 4px;
}



a {
  text-decoration: none;
}

.titreclub {

  font-size: 25px;
  color:white;
  text-align: center;
  margin: 30px 30px;
  font-family: 'Secular One', sans-serif;

}

.titreclub2 {
 
  font-size: 15px;
  color:white;
  font-family:'Secular One', sans-serif;
  padding-left: 115px;
  gap: 50px;
  flex-direction: row;
  
}


.titreclub3 {
 
  font-size: 15px;
  color:white;
  font-family:'Secular One', sans-serif;
  padding-left: 90px;
  gap: 50px;
  flex-direction: row;
  
}

.titreclub4 {
 
  font-size: 15px;
  color:white;
  font-family:'Secular One', sans-serif;
  padding-left: 136px;
  gap: 50px;
  flex-direction: row;
  
}

.titreclub5 {
 
  font-size: 15px;
  color:white;
  font-family:'Secular One', sans-serif;
  padding-left: 148px;
  gap: 50px;
  flex-direction: row;
  
}
.titreclub6 {
 
  font-size: 15px;
  color:white;
  font-family:'Secular One', sans-serif;
  padding-left: 151px;
  gap: 50px;
  flex-direction: row;
  
}
.titreclub7 {
 
  font-size: 15px;
  color:white;
  font-family:'Secular One', sans-serif;
  padding-left: 75px;
  gap: 50px;
  flex-direction: row;
  
}

.titreclub8 {
 
  font-size: 15px;
  color:white;
  font-family:'Secular One', sans-serif;
  padding-left: 105px;
  gap: 50px;
  flex-direction: row;
  
}

.titreclub9 {
 
  font-size: 15px;
  color:white;
  font-family:'Secular One', sans-serif;
  padding-left: 163px;
  gap: 50px;
  flex-direction: row;
  
}
.titreclub10 {
 
  font-size: 15px;
  color:white;
  font-family:'Secular One', sans-serif;
  padding-left: 155px;
  gap: 50px;
  flex-direction: row;
  
}

.titreclub11 {
 
  font-size: 15px;
  color:white;
  font-family:'Secular One', sans-serif;
  padding-left: 123px;
  gap: 50px;
  flex-direction: row;
  
}

.titreclub12 {
 
  font-size: 15px;
  color:white;
  font-family:'Secular One', sans-serif;
  padding-left: 146px;
  gap: 50px;
  flex-direction: row;
  
}
.titreclub13 {
 
  font-size: 15px;
  color:white;
  font-family:'Secular One', sans-serif;
  padding-left: 135px;
  gap: 50px;
  flex-direction: row;
  
}

.titreclub14 {
 
  font-size: 15px;
  color:white;
  font-family:'Secular One', sans-serif;
  padding-left: 121px;
  gap: 50px;
  flex-direction: row;
  
}

.titreclub15 {
 
  font-size: 15px;
  color:white;
  font-family:'Secular One', sans-serif;
  padding-left: 114px;
  gap: 50px;
  flex-direction: row;
  
}

.titreclub16 {
 
  font-size: 15px;
  color:white;
  font-family:'Secular One', sans-serif;
  padding-left: 156px;
  gap: 50px;
  flex-direction: row;
  
}
.titreclub17 {
 
  font-size: 15px;
  color:white;
  font-family:'Secular One', sans-serif;
  padding-left: 158px;
  gap: 50px;
  flex-direction: row;
  
}
.titreclub18 {
 
  font-size: 15px;
  color:white;
  font-family:'Secular One', sans-serif;
  padding-left: 149px;
  gap: 50px;
  flex-direction: row;
  
}
.titreclub19 {
 
  font-size: 15px;
  color:white;
  font-family:'Secular One', sans-serif;
  padding-left: 114px;
  gap: 50px;
  flex-direction: row;
}

.titreclub20 {
 
  font-size: 15px;
  color:white;
  font-family:'Secular One', sans-serif;
  padding-left: 130px;
  gap: 50px;
  flex-direction: row;
  
}

.titreclub21 {
 
  font-size: 15px;
  color:white;
  font-family:'Secular One', sans-serif;
  padding-left: 116px;
  gap: 50px;
  flex-direction: row;
  
}.titreclub22 {
 
  font-size: 15px;
  color:white;
  font-family:'Secular One', sans-serif; ;
  padding-left: 139px;
  gap: 50px;
  flex-direction: row;
  
}

.stadeaja {

  background-image: url("assets/stadeajaccio1.jpg");
  height: 288px;
  width: 100%;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px;
  padding: 30px 20px;
  gap:100px;
  text-decoration: none;
  
}





