* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(black, darkblue);
  margin: 0;
  padding: 0;
}

.top-header {
  background-image: url("assets/stade.jpg");
  height: 250px;
  width: 100%;
  background-size: cover;
  display: flex;
  align-items: center;
  margin: 0;
  gap: 100px;
  text-decoration: none;
}
.form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}
.logo img {
  height: 50%;
  width: 50%;
  margin: 25%;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

.nav a {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  color: white;
  transition-duration: 0.3s;
  height: 30px;
  font-size: 25px;
}

.nav a:hover {
  background-color: darkblue;
}

form.search input {
  padding: 10px;
  font-size: 10px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  height: 5px;
  background: #f1f1f1;
}

.clubs .crest {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.crest img {
  width: 30px;
  height: 30px;
  margin: 20px;
}

h1 {
  color: white;
  margin: 10px;
  padding: 5px;
}

p {
  color: black;
  width: 20px;
  height: 20px;
  margin-left: 50px;
}

.actu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  gap: 10px;
}

.news {
  background-color: white;
  display: flex;
  gap: 400px;
  height: 300px;
  margin: 150px;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.table {
  width: 200px;
  height: 500px;
  background-color: rgba(18, 66, 20, 1);
  color: white;
  text-align: center;
  text-transform: uppercase;
}

.gazon {
  display: flex;
  justify-content: space-around;
  width: 600px;
  height: 300px;
  background: linear-gradient(rgb(64, 224, 69), green);
  color: white;
  margin: 150px;
}

.gazon img {
  width: 200px;
  height: 150px;
}

.template {
  display: flex;
  justify-content: space-between;
  margin: 70px;
}

.container {
  padding: 2px 16px;
}

.foot {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(rgba(18, 66, 20, 1), green);
  height: 100px;
}

.footer a {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-decoration: none;
  color: white;
  transition-duration: 0.3s;
  height: 25px;
  font-size: 25px;
  gap: 20px;
}
