* {
  margin: 0;
  padding: 0;

}
body {
  background-color: rgba(47, 48, 51, 1);
  margin: 0;
  padding: 0;
}

.top-header {
  background-image: url("assets/stade.jpg");
  height: 250px;
  width: 100%;
  background-size:cover;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-decoration: none;
}
img{
  height: 200px;
  width: 300px;
}

.btn{
  width: 0;
  height: 0;
}

.btn :hover{
  background-color: white;
  transition-duration: 0.3s;;
}

.nav {
  display: flex;
  justify-content: space-around;
  gap:80px;
  width: 0;
  height:0;

}
.nav a {
  text-decoration: none;
  color:white;
  transition-duration: 0.3s;
  height: 20px;
}

.nav a:hover {
  background-color: rgb(59, 97, 211);
}

form.search input[type="text"] {
  padding: 10px;
  font-size: 10px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  height: 5px;
  background: #f1f1f1;
}


.clubs {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.crest img {
  width: 30px;
  height: 30px;
  margin: 20px;
}

.firstelement {
  background-color: rgba(47, 48, 51, 1);
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 300px;
}

.news {
  width: 400px;
  height: 80%;
  background-color: white;
  color: black;
  text-align: center;
  text-transform: uppercase;
}
.table {
  width: 150px;
  height: 80%;
  background-color: white;
  color: black;
  text-align: center;
  text-transform: uppercase;
}

.picture {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 100%;
  background-color: rgba(47, 48, 51, 1);
  color: black;
  gap: 13%;
}

.photo {
  background-color: white;
  height: 40%;
  width: 100px;
}

.results {
  background-color: white;
  height: 60%;
  width: 150px;
}
.game {
  background-color: rgba(47, 48, 51, 1);
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 300px;
}
.gazon {
  width: 400px;
  height: 80%;
  background-color: green;
  color: white;
  text-align: center;
  text-transform: uppercase;
}

.agenda {
  background-color: white;
  height: 80%;
  width: 150px;
}

.footer {
  background-color: rgba(18, 66, 20, 1);
  height: 100px;
}
